* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* fix scrolling down */
  overflow: hidden;
  background: rgb(27, 27, 31);
  /* background: #282c34; */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;

  /* remove blue outline*/
  outline: none;
}
